<div class="gevme-template-main {{#if setting.livebar.positionLeft}}livebar-left{{else}}livebar-right{{/if}}">
  <gevme-header />
  {{#if setting.livebar.enabled}}
  {{#if setting.livebar.positionLeft}}
  <div class="gevme-template-chat" {{#if setting.livebar.closable}}style="flex: 0 0 60px;"{{else}}style="flex: 0 0 360px;"{{/if}}>
    <gevme-live-bar />
  </div>
  {{/if}}
  {{/if}}
  <div id="preloadContainer"><div style="z-index: 4; position: absolute; left: 0%; top: 50%; width: 100.00%; height: 10.00%"><div style="text-align:left; color:#000; "><div style="text-align:center;font-size:1.6666666666666663vmin;"><span style="display:inline-block; letter-spacing:0vmin; white-space:pre-wrap;color:#777777;font-size:1.67vmin;font-family:Arial, Helvetica, sans-serif;">Loading your experience. Please wait...</span></div></div></div></div>
  <div class="gevme-template-content">
    <div class="gevme-content-blocks-container">
      <div id="viewer"></div>
    </div>
  </div>
  {{#if setting.livebar.enabled}}
  {{#if setting.livebar.positionRight}}
  <div class="gevme-template-chat" {{#if setting.livebar.closable}}style="flex: 0 0 60px;"{{else}}style="flex: 0 0 360px;"{{/if}}>
    <gevme-live-bar />
  </div>
  {{/if}}
  {{/if}}
</div>
